###############################################################################
# This rcfile is elliptic's DCSS bot "qw", the first (and thus far only) bot to
# win DCSS with no human assistance. A substantial amount of code here was
# contributed by elliott or borrowed from N78291's bot "xw", and many others
# have contributed as well. It is now maintained by the DCSS dev team. For
# instructions as well as the most up-to-date version of qw, see:
#
# https://github.com/crawl/qw.
#
#
# NOTE: You must include the 'qw.lua' file for qw to work.
# To do this, you can either:
# (1) Use an 'include' statement at the *end* of this file to load qw.lua into
#     this RC and run crawl with the appropriate options.
# (2) Directly include the contents of qw.lua at the end of this file.
#
# To do (1), uncomment the 'include = qw.lua' line at the end of this file and
# run crawl with the  '-rc' and '-rcdir' options. For example:
#
# $ crawl -rc DIR/qw.rc -rcdir DIR
#
# Here DIR is the full path to the qw repository.
#
# To do (2), add the contents of qw.lua directly at the end of this file. Make
# sure that the lines with '{' at the beginning of the file and '}' at the end
# of the file are both included, otherwise the Lua code won't execute.
#
# qw settings begin below. Lines beginning with ':' set Lua variables that used
# by the code in qw.lua.
###############################################################################

##############
### Online ###
##############

# Default username.
name = qw

# Make sure this is true when playing online.
: DELAYED = true
# Delay per action in milliseconds. Set this to at least 125 or so when playing
# on a public server.
: DELAY_TIME = 125

# Whether to start playing immediately when a new game is started.
# Unfortunately this doesn't work if the game starts with a -more-.
: AUTO_START = false

################
### Gameplay ###
################

# Set to true to cycle through the combos in COMBO_CYCLE_LIST.
: COMBO_CYCLE = false

# The combos to cycle through. This uses the same syntax as the regular 'combo'
# option below with an optional "^<god initials>" suffix to overwrite the
# GOD_LIST variable below. Additionally, after this god list, you can specify
# an endgame plan name from ENDGAME_PLANS with a "!<plan name>" suffix. Here
# are some sample choices:
: COMBO_CYCLE_LIST = "GrBe.handaxe, MiFi.waraxe^OM, GrFi.waraxe^O!15runes"

# Choose randomly between these combos. This will not apply if the COMBO_CYCLE
# option was on in your _previous_ game.
combo = GrBe.handaxe

# For random berserkers, use these combos:
# combo = DEBe.handaxe, DrBe.handaxe, DsBe.handaxe, FeBe.claws, FoBe.handaxe
# combo += GrBe.handaxe, GhBe.claws, HOBe.handaxe, HuBe.handaxe, KoBe.mace
# combo += MfBe.spear, MiBe.handaxe, MuBe.handaxe, NaBe.handaxe, OgBe.mace
# combo += OpBe.handaxe, SpBe.shortsword, TeBe.handaxe, TrBe.claws
# combo += VSBe.handaxe, VpBe.handaxe, BaBe.handaxe, DjBe.handaxe, PaBe.handaxe

# For a totally random combo (with chosen weapon type), hyperqwcombo.rc can
# be created using hyperqwcombogen.sh and used:
# combo =
# include += hyperqwcombo.rc

# Acceptable gods (join whichever one we find first)
# Gods who have been at least partially implemented: BCHLMOQRTUXY1
# Gods who are actually pretty decent on qw: CMORT
: GOD_LIST = { "Trog", "Okawaru", "Makhleb"}
# Use faded altar, abandoning if we don't get one of the gods in GOD_LIST
: FADED_ALTAR = false

# Use a shield at all cost
: SHIELD_CRAZY = true

# Do second lair rune branch before depths.
: EARLY_SECOND_RUNE = true

# Wait to do Orc until after D:15.
: LATE_ORC = true

# Lair rune preferences, current options are:
# * random - no preference, chooses randomly
# * nowater - does Snake/Spider first
# * smart - currently prefers Spider > Snake/Swamp > Shoals
# * dsmart - Swamp/Spider > Snake > Shoals (DsBe data)
: RUNE_PREFERENCE = "random"

# A set of possible plans for post-V:5. Entries should always end with "zot".
# These names can be used in the ENDGAME_PLAN or COMBO_CYCLE_LIST variables.
: ENDGAME_PLANS = {
:     ["3runes"]  = "zot",
:     ["15runes"] = "tso,tomb,pan,slime,hells,abyss,zot",
:     ["all"]    = "tso,tomb,pan,slime,hells,abyss,zig,zot",
:     ["zig"]    = "tso,tomb,pan,slime,zig,zot",
: }
# The default plan.
: ENDGAME_PLAN = "3runes"

# Depth to attempt to dive in ziggurats
: ZIG_DIVE = 27

# Panic (stop) at full inventory
: FULL_INVENTORY_PANIC = true

# Quit after this number of turns while stuck
: QUIT_TURNS = 1000


#############################
### Miscellaneous options ###
#############################

restart_after_game = false
equip_bar = true
ability_menu = false
force_ability_targeter =
force_spell_targeter =
view_delay = 0
use_animations =
darken_beyond_range = false
clear_messages = true
travel_delay = -1
explore_delay = -1
rest_delay = -1
travel_key_stop = false
default_manual_training = true
auto_exclude =
hp_warning = 0
show_more = false
show_newturn_mark = false
list_rotten = false
force_more_message =
show_travel_trail = false
skill_focus = false
# Let's go.
autoinscribe += slay:mikee
flush.failure = false
char_set = ascii
cset = cloud:xa4
cset = item_orb:0
use_fake_player_cursor = true
equip_unequip = true

dump_order = header,hiscore,stats,misc,mutations,skills,spells,inventory
dump_order += overview,messages,screenshot,monlist,kills,notes,vaults
dump_order += skill_gains,action_counts,xp_by_level
ood_interesting = 6
note_hp_percent = 25
note_skill_levels = 1,3,6,9,12,15,18,21,24,27
note_all_spells = true

fire_order = launcher, rock, javelin, boomerang

read_persist_options = true

message_colour ^= mute:Unknown command

# Not sure exactly how important or correct these settings are.
explore_stop =
explore_stop += items,branches,portals,stairs,altars
explore_stop += greedy_visited_item_stack,greedy_pickup_smart

stop := runrest_stop_message
ignore := runrest_ignore_message
stop =
ignore =
ignore += .*

runrest_ignore_poison = 3:15
runrest_ignore_monster += butterfly:1

# These keys are useful to answer prompts and aren't critical for manual play.
bindkey = [Y] CMD_NO_CMD_DEFAULT
bindkey = [N] CMD_NO_CMD_DEFAULT
bindkey = [B] CMD_NO_CMD_DEFAULT
bindkey = [C] CMD_NO_CMD_DEFAULT
bindkey = [.] CMD_NO_CMD_DEFAULT
# Down arrow; we use this only for menus.
bindkey = [\{-253}] CMD_NO_CMD_DEFAULT
bindkey = [^D] CMD_LUA_CONSOLE

# Autopickup is all handled via lua.
autopickup =
autopickup_exceptions =

#################
### Debugging ###
#################

# Set to true to enable debug output. Generates a lot of output.
: DEBUG_MODE = false
# Tab just takes a single action (for testing).
: SINGLE_STEP = false

#################
### Constants ###
#################

# Enum values :/
: ENUM_MONS_PANDEMONIUM_LORD = 344
: ATT_FRIENDLY = 4
: ATT_NEUTRAL = 1
: ATT_HOSTILE = 0

: LOS = 7
: if you.race() == "Barachi" then
:     LOS = 8
: end

# See notes at the top on qw.lua.
# include = qw.lua
